RPI_Node_Red/REMOTE_PICO_W/flows.json
[
    {
        "id": "cf7d0d1a97a003b8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2be0f87e96e7c816",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d794c71782a311e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4923970536323155",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "00dab516a6b3e62a",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a24826778a08d02",
        "type": "group",
        "z": "4923970536323155",
        "name": "remote project database CRUD UI",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "25918f306a60a810",
            "2ca36f6b0df2c8b9",
            "24e4e31b9845b9b7",
            "b0a8976102584f31",
            "c253224efaba65be",
            "0e42a9c17b444b0a",
            "152a0c747c3fd244",
            "fd49265849bb65dc",
            "69f3df9a7757d1c1",
            "ef4d1e71b6ae1c32",
            "fe771ca4c93e198c",
            "bd2a8e57f2c01351",
            "808b8ccdd9fd286c",
            "960f317edf4ae1bc",
            "233594d06fbddcbf",
            "4d1308073579ae20",
            "66d5932b2621954f",
            "0a85599837fb0ecc",
            "7e594510dc4b4249",
            "e86f6b11ba58351b",
            "b7a664b92fae13b4",
            "aad57c95bf78b93c",
            "22e5ef15a8b217b4",
            "cd8b69cf0a7bea6e",
            "e8929107bb730b6f",
            "b64270947645e198",
            "afc41bd8484d4119",
            "28d8b1b1b10c508d",
            "c56015683b4293fb",
            "311ad4878eb6b080",
            "84ae2fbfb7cd892b",
            "2ef2687abe88a037",
            "6fab86d23c32fd06",
            "c781a8916c33d5a9",
            "12c6a79b20af20be",
            "3b97301439776bdc",
            "ff1887b99fe94d2a",
            "d4463c84c26b9467"
        ],
        "x": 34,
        "y": 39,
        "w": 1412,
        "h": 962
    },
    {
        "id": "605eaa74d4639a25",
        "type": "group",
        "z": "00dab516a6b3e62a",
        "name": "REMOTE HIST LIST db to UI",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "80393f1fa3795c08",
            "0ad4aeaecd70e882",
            "1ac44fef7e6afae3",
            "07a5b34468aa6dd2",
            "a59c90dc6d499201",
            "968700c4036f0b76",
            "cb7265a6dc1ae3e3",
            "ec373eafc9b7916c",
            "0646b5bc1353ffed",
            "c9b704889489d3f7",
            "7bcb96c2d68e52bb",
            "35e1eef7c82e141d",
            "b7a5d8e9d7ca1eb2"
        ],
        "x": 24,
        "y": 819,
        "w": 1072,
        "h": 302
    },
    {
        "id": "9b358a16cd81ca40",
        "type": "group",
        "z": "00dab516a6b3e62a",
        "name": "REMOTE HISST REND : SITE SELECT",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "416c7ccc95947de5",
            "b1428fe947d3aded",
            "6c48d4f071a6bd03",
            "28b9ad10afe31aab",
            "1f7dd306269d5f19",
            "18c93b3a6eec1cda",
            "453362c4195b9d73",
            "69e043b5a8d3c3de",
            "c2ea39f337564997",
            "7af1b9d331e6ef9f",
            "42b5d1f8f154d597"
        ],
        "x": 54,
        "y": 19,
        "w": 1102,
        "h": 262
    },
    {
        "id": "844c3338d66d2f61",
        "type": "group",
        "z": "00dab516a6b3e62a",
        "name": "REMOTE HIST TREND : SQL time range UI",
        "style": {
            "stroke": "#0070c0",
            "fill": "#7fb7df",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "ee2c98e97de6a228",
            "6b9e2dbeb60113c1",
            "d391dbfbc5e5081b",
            "9550106d0192cf7a",
            "eeeecfd247716668",
            "a7fcd9130032bbb8",
            "622b4afc4e36cafd",
            "617c07a0e5aa220d",
            "68efa9aad30cdce6",
            "fd4101bef1a5f8e2",
            "6809646912729a3d",
            "add99950135f44f1",
            "aa11d8ec68e18532",
            "6a290a41c64fe212",
            "de1a52fa88fde7d6",
            "55d4814dc732f34c",
            "b70f0502b39eaa88",
            "23c5524650b790a0",
            "9cc68cc0e30a4865",
            "06a103525eb3df6c",
            "84a516fbef335e9c"
        ],
        "x": 64,
        "y": 299,
        "w": 1082,
        "h": 482
    },
    {
        "id": "60bb2fe886eeb41c",
        "type": "group",
        "z": "2d794c71782a311e",
        "name": "REMOTE MQTT to HIST DB : LAST RECORD to UI",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "13b75f8e3ff6c137",
            "08a6d30efe73d117",
            "6d333bbe23d64f00",
            "b74e7cb68c09558d",
            "ef0f83543faa4ec9",
            "e92c875a8e9dae52",
            "cb065ac178465fcc",
            "6531344a52539470",
            "ab30fb7cdd2a54df",
            "e92dbe995c686f8d",
            "0e042fd9f3e0a275",
            "51f8063726797eda",
            "1f18f4fcadb494af",
            "93bfbe65c0d0509d",
            "15ba51887437c0f9",
            "dc223d92419d4502",
            "25540d9c034eb018",
            "8fe8060b8e910b1b",
            "b330d7bd61e7963d",
            "d82dc5371fbc2af3"
        ],
        "x": 14,
        "y": 19,
        "w": 1162,
        "h": 522
    },
    {
        "id": "c0312e26654bc478",
        "type": "group",
        "z": "2be0f87e96e7c816",
        "name": "SITE 2 Current Trend UI",
        "style": {
            "stroke": "#ffff00",
            "fill": "#ffff7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "f4ee4b30bd83cc04",
            "d2e1153eecb51d83",
            "b3bb6b26693d8b95",
            "3c465620cfcaed6d",
            "eb459c0c2b8ce646",
            "184c979d2212d59d",
            "c9735183e426a6bc",
            "4378a23bb1d3de91",
            "176b9fbc86ae1a74",
            "fbb34e686b575178",
            "07177b36b4af5017",
            "65e1c3f86ad11eab",
            "804c23cc08a62b27",
            "c2f97cac9abf4121",
            "d779448f66a2897e",
            "d142556d1336c2f6",
            "aed4d35bc9cb2011",
            "515f32f31fe2ab87",
            "234ac2d8d56d79b1",
            "a0b21bf82009a2ee",
            "beacc841adf85bcd",
            "2f03712f9f0f289b"
        ],
        "x": 24,
        "y": 19,
        "w": 782,
        "h": 822
    },
    {
        "id": "157c4d8a33a31bf0",
        "type": "group",
        "z": "cf7d0d1a97a003b8",
        "name": "SITE 1 Current Trend UI",
        "style": {
            "stroke": "#92d04f",
            "fill": "#c8e7a7",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "62c2c8a315d79ae5",
            "095744d73ebf2c53",
            "fec92a4f83d421d8",
            "a5c6f8236adb81b3",
            "0dc67c2562c14e42",
            "2dc87f708a7d3899",
            "be81b74c2b8d2a7b",
            "c17452205718e6da",
            "6e6213917ddcd530",
            "1f567125d5069555",
            "cbe08e9736b1735b",
            "22cd8a05fd58f21c",
            "facb92cd835f49ad",
            "a3b0988d925558e8",
            "eb80031ef2387b12",
            "1e5e125c4feb75c8",
            "87166621fca05b6c",
            "c0e065e06ce36d1f",
            "edccc14784e92f4e",
            "2344597f61bb12b1",
            "7bcfc7306a88321b"
        ],
        "x": 34,
        "y": 19,
        "w": 772,
        "h": 822
    },
    {
        "id": "d775da7a2f7633db",
        "type": "mqtt-broker",
        "name": "",
        "broker": "01d9986933e64070a549e134b27cd218.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "08df03d71c01ebb8",
        "type": "ui_group",
        "name": "ProjectList",
        "tab": "8697bea919568851",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e87a48b484227da",
        "type": "ui_group",
        "name": "DC_power PICO_W",
        "tab": "5c6ea4918d8e4220",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f66dd0dc3411a0fa",
        "type": "ui_group",
        "name": "records",
        "tab": "5c6ea4918d8e4220",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "490699046431070d",
        "type": "ui_group",
        "name": "AC_power S31",
        "tab": "5c6ea4918d8e4220",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c6ea4918d8e4220",
        "type": "ui_tab",
        "name": "REMOTE Site1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "276e41029364272c",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ff00ff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "REMOTE DASH",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d49ea2974f79f5e",
        "type": "ui_tab",
        "name": "REMOTE Site2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c9a30a42b5b1770",
        "type": "ui_group",
        "name": "get_Site2",
        "tab": "8d49ea2974f79f5e",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d7823b84428045d",
        "type": "ui_group",
        "name": "records_Site2",
        "tab": "8d49ea2974f79f5e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff5cb5bcc5525a5d",
        "type": "ui_group",
        "name": "AC_power S31_Site2",
        "tab": "8d49ea2974f79f5e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "836fedf319e64e94",
        "type": "ui_group",
        "name": "DC_power PICO_W_Site2",
        "tab": "8d49ea2974f79f5e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5855394b5a9476ac",
        "type": "sqlitedb",
        "db": "/home/pi/projects/PICO_W/data.sqlite3",
        "mode": "RWC"
    },
    {
        "id": "1f05a8601433b006",
        "type": "ui_tab",
        "name": "REMOTE_SITES",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b59d23836a0aabb4",
        "type": "ui_group",
        "name": "site_diag_last_record",
        "tab": "1f05a8601433b006",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8697bea919568851",
        "type": "ui_tab",
        "name": "REMOTE_ProjectList",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dae7ede5651ba91f",
        "type": "ui_group",
        "name": "REMOTE_HIST_SELECT",
        "tab": "0d8cc76bb93f6108",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d8cc76bb93f6108",
        "type": "ui_tab",
        "name": "REMOTE_HIST_TREND",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bc30993a608ada52",
        "type": "sqlitedb",
        "db": "/home/pi/projects/PICO_W/data.sqlite3",
        "mode": "RWC"
    },
    {
        "id": "1d73b486082014dd",
        "type": "ui_group",
        "name": "SQLread",
        "tab": "6d4dfe0ffc92f6ef",
        "order": 5,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9485037ae7c93de",
        "type": "ui_group",
        "name": "SQLtrend",
        "tab": "0d8cc76bb93f6108",
        "order": 2,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d4dfe0ffc92f6ef",
        "type": "ui_tab",
        "name": "REMOTE_HIST_LIST",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b1c3a49b14dde6bd",
        "type": "ui_spacer",
        "z": "00dab516a6b3e62a",
        "name": "spacer",
        "group": "1d73b486082014dd",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "f4a9f3f84907381e",
        "type": "ui_spacer",
        "z": "00dab516a6b3e62a",
        "name": "spacer",
        "group": "1d73b486082014dd",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "b355eb21c0cc69a9",
        "type": "ui_spacer",
        "z": "00dab516a6b3e62a",
        "name": "spacer",
        "group": "1d73b486082014dd",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "3876a9ca3419e665",
        "type": "ui_spacer",
        "z": "4923970536323155",
        "name": "spacer",
        "group": "08df03d71c01ebb8",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "af1153b80b0b0dea",
        "type": "ui_spacer",
        "z": "4923970536323155",
        "name": "spacer",
        "group": "08df03d71c01ebb8",
        "order": 4,
        "width": 23,
        "height": 1
    },
    {
        "id": "34358567d711fde3",
        "type": "ui_spacer",
        "z": "4923970536323155",
        "name": "spacer",
        "group": "08df03d71c01ebb8",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "e80631512daccf74",
        "type": "ui_spacer",
        "z": "4923970536323155",
        "name": "spacer",
        "group": "08df03d71c01ebb8",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "d115346d2dfc744d",
        "type": "ui_spacer",
        "z": "4923970536323155",
        "name": "spacer",
        "group": "08df03d71c01ebb8",
        "order": 13,
        "width": 12,
        "height": 1
    },
    {
        "id": "62c2c8a315d79ae5",
        "type": "mqtt in",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d775da7a2f7633db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "095744d73ebf2c53",
                "fec92a4f83d421d8",
                "a3b0988d925558e8",
                "1f567125d5069555",
                "c0e065e06ce36d1f",
                "22cd8a05fd58f21c",
                "1e5e125c4feb75c8",
                "a5c6f8236adb81b3",
                "2dc87f708a7d3899"
            ]
        ]
    },
    {
        "id": "095744d73ebf2c53",
        "type": "debug",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "debug from mqtt in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "fec92a4f83d421d8",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get count",
        "func": "msg.payload = msg.payload.id;\nmsg.topic= \"count\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "c17452205718e6da",
                "6e6213917ddcd530"
            ]
        ]
    },
    {
        "id": "a5c6f8236adb81b3",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get DC_Amp",
        "func": "msg.payload = msg.payload.DC_Amp;\nmsg.topic= \"DC_Amp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "0dc67c2562c14e42"
            ]
        ]
    },
    {
        "id": "0dc67c2562c14e42",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "5e87a48b484227da",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "DC_Amp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2dc87f708a7d3899",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get DC_Watt",
        "func": "msg.payload = msg.payload.DC_Watt;\nmsg.topic= \"DC_Watt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "be81b74c2b8d2a7b"
            ]
        ]
    },
    {
        "id": "be81b74c2b8d2a7b",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "5e87a48b484227da",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "DC_Watt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c17452205718e6da",
        "type": "ui_text",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "group": "f66dd0dc3411a0fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "6e6213917ddcd530",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "f66dd0dc3411a0fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "recs from boot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1f567125d5069555",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get AC_ Amp",
        "func": "msg.payload = msg.payload.AC_Amp;\nmsg.topic= \"AC_Amp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "cbe08e9736b1735b"
            ]
        ]
    },
    {
        "id": "cbe08e9736b1735b",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "490699046431070d",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "AC_Amp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "22cd8a05fd58f21c",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get AC_Watt",
        "func": "msg.payload = msg.payload.AC_Watt;\nmsg.topic= \"AC_Watt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "facb92cd835f49ad"
            ]
        ]
    },
    {
        "id": "facb92cd835f49ad",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "490699046431070d",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "AC_Watt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "a3b0988d925558e8",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get AC_Volt",
        "func": "msg.payload = msg.payload.AC_Volt;\nmsg.topic= \"AC_Volt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "eb80031ef2387b12"
            ]
        ]
    },
    {
        "id": "eb80031ef2387b12",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "490699046431070d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "AC_Volt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1e5e125c4feb75c8",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get DC_Volt",
        "func": "msg.payload = msg.payload.DC_Volt;\nmsg.topic= \"DC_Volt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [
                "87166621fca05b6c"
            ]
        ]
    },
    {
        "id": "87166621fca05b6c",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "5e87a48b484227da",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "DC_Volt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "c0e065e06ce36d1f",
        "type": "function",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "get PS_Temp",
        "func": "msg.payload = msg.payload.PS_Temp;\nmsg.topic= \"PS_Temp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "edccc14784e92f4e"
            ]
        ]
    },
    {
        "id": "edccc14784e92f4e",
        "type": "ui_chart",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "group": "5e87a48b484227da",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "PS_Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "2344597f61bb12b1",
        "type": "comment",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "BRIDGE send to PICOW-S31/Site1/P215",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "7bcfc7306a88321b",
        "type": "inject",
        "z": "cf7d0d1a97a003b8",
        "g": "157c4d8a33a31bf0",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "PICOW-S31/Site1/P215",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "62c2c8a315d79ae5"
            ]
        ]
    },
    {
        "id": "f4ee4b30bd83cc04",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get count",
        "func": "msg.payload = msg.payload.id;\nmsg.topic= \"count\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "184c979d2212d59d",
                "c9735183e426a6bc"
            ]
        ]
    },
    {
        "id": "d2e1153eecb51d83",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get DC_Amp",
        "func": "msg.payload = msg.payload.DC_Amp;\nmsg.topic= \"DC_Amp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "b3bb6b26693d8b95"
            ]
        ]
    },
    {
        "id": "b3bb6b26693d8b95",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "836fedf319e64e94",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "DC_Amp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "3c465620cfcaed6d",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get DC_Watt",
        "func": "msg.payload = msg.payload.DC_Watt;\nmsg.topic= \"DC_Watt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "eb459c0c2b8ce646"
            ]
        ]
    },
    {
        "id": "eb459c0c2b8ce646",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "836fedf319e64e94",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "DC_Watt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "184c979d2212d59d",
        "type": "ui_text",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "group": "4d7823b84428045d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "c9735183e426a6bc",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "4d7823b84428045d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "recs from boot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4378a23bb1d3de91",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get AC_ Amp",
        "func": "msg.payload = msg.payload.AC_Amp;\nmsg.topic= \"AC_Amp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "176b9fbc86ae1a74"
            ]
        ]
    },
    {
        "id": "176b9fbc86ae1a74",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "ff5cb5bcc5525a5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "AC_Amp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "fbb34e686b575178",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get AC_Watt",
        "func": "msg.payload = msg.payload.AC_Watt;\nmsg.topic= \"AC_Watt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "07177b36b4af5017"
            ]
        ]
    },
    {
        "id": "07177b36b4af5017",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "ff5cb5bcc5525a5d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "AC_Watt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "65e1c3f86ad11eab",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get AC_Volt",
        "func": "msg.payload = msg.payload.AC_Volt;\nmsg.topic= \"AC_Volt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "804c23cc08a62b27"
            ]
        ]
    },
    {
        "id": "804c23cc08a62b27",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "ff5cb5bcc5525a5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "AC_Volt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c2f97cac9abf4121",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get DC_Volt",
        "func": "msg.payload = msg.payload.DC_Volt;\nmsg.topic= \"DC_Volt\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 680,
        "wires": [
            [
                "d779448f66a2897e"
            ]
        ]
    },
    {
        "id": "d779448f66a2897e",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "836fedf319e64e94",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "DC_Volt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "d142556d1336c2f6",
        "type": "function",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "get PS_Temp",
        "func": "msg.payload = msg.payload.PS_Temp;\nmsg.topic= \"PS_Temp\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "aed4d35bc9cb2011"
            ]
        ]
    },
    {
        "id": "aed4d35bc9cb2011",
        "type": "ui_chart",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "group": "836fedf319e64e94",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "PS_Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "waiting",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "515f32f31fe2ab87",
        "type": "comment",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "PICO_W MICRO Site2",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "234ac2d8d56d79b1",
        "type": "mqtt in",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d775da7a2f7633db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "a0b21bf82009a2ee",
                "beacc841adf85bcd",
                "f4ee4b30bd83cc04",
                "65e1c3f86ad11eab",
                "4378a23bb1d3de91",
                "d142556d1336c2f6",
                "fbb34e686b575178",
                "c2f97cac9abf4121",
                "d2e1153eecb51d83",
                "3c465620cfcaed6d"
            ]
        ]
    },
    {
        "id": "a0b21bf82009a2ee",
        "type": "debug",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "debug from mqtt in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "beacc841adf85bcd",
        "type": "ui_text",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "group": "9c9a30a42b5b1770",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "from MQTT site:  {{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "2f03712f9f0f289b",
        "type": "inject",
        "z": "2be0f87e96e7c816",
        "g": "c0312e26654bc478",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "PICOW-S31/Site2",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "234ac2d8d56d79b1"
            ]
        ]
    },
    {
        "id": "13b75f8e3ff6c137",
        "type": "inject",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "create table \"remote_mqtt_in\"   (id,timedate,timedates,topic,payloads, DC_Volt,DC_Amp,DC_Watt,PS_Temp,AC_Volt,AC_Amp,AC_Watt ) and even database file",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE  IF NOT EXISTS \"remote_mqtt_in\" ( \"id\" INTEGER, \"timedate\" INTEGER, \"timedates\" TEXT, \"topic\" TEXT, \"payloads\" TEXT, \"DC_Volt\" REAL, \"DC_Amp\" REAL, \"DC_Watt\" REAL, \"PS_Temp\" REAL, \"AC_Volt\" REAL, \"AC_Amp\" REAL, \"AC_Watt\" REAL, PRIMARY KEY(\"id\" AUTOINCREMENT)  );",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "0e042fd9f3e0a275"
            ]
        ]
    },
    {
        "id": "08a6d30efe73d117",
        "type": "inject",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "delete table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE \"remote_mqtt_in\";",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "0e042fd9f3e0a275"
            ]
        ]
    },
    {
        "id": "6d333bbe23d64f00",
        "type": "inject",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "empty table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM \"remote_mqtt_in\";",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "0e042fd9f3e0a275"
            ]
        ]
    },
    {
        "id": "b74e7cb68c09558d",
        "type": "comment",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "optional / manual database operation / create file & table remote_mqtt_in",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "ef0f83543faa4ec9",
        "type": "comment",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "optional / manual database operation / delete table remote_mqtt_in",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "e92c875a8e9dae52",
        "type": "comment",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "optional / manual database operation / empty table remote_mqtt_in",
        "info": "",
        "x": 290,
        "y": 220,
        "wires": []
    },
    {
        "id": "cb065ac178465fcc",
        "type": "comment",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "REMOTE data, HIST SQLite3 db, save from ALL SITEs with TOPIC PICOW-S31/# data scheme",
        "info": "",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "6531344a52539470",
        "type": "sqlite",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "mydb": "5855394b5a9476ac",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1000,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ab30fb7cdd2a54df",
        "type": "function",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "save to DB",
        "func": "// v1.1.2 PICO W mqtt back from ' use \" again\nconst sqlI = \"INSERT INTO remote_mqtt_in (timedate,timedates,topic,payloads,DC_Volt,DC_Amp,DC_Watt,PS_Temp,AC_Volt,AC_Amp,AC_Watt) VALUES \";\nvar sql = \"\";\n\nvar now = new Date();\nvar epoch = now.getTime();\n//const nows = (new Date()).toISOString().slice(0, 19).replace(/-/g, \"/\").replace(\"T\", \" \");\nconst nows = (new Date(epoch)).toUTCString().slice(5, 25).replace(/-/g, \"/\").replace(\"T\", \" \");\n\nvar UTC_nows = now.toISOString().slice(0, 19).replace(/-/g, \"-\").replace(\"T\", \" \");\n\n//node.warn(nows);\n\n// get some content we want save optionally to additional db columns\n// utils\nvar PICOW_id = msg.payload.id;\nvar Device = msg.payload.dev;\n//var CPU_Temp = msg.payload.Temp;\n// netto data\nvar DC_Volt = msg.payload.DC_Volt;\nvar DC_Amp = msg.payload.DC_Amp;\nvar DC_Watt = msg.payload.DC_Watt;\nvar PS_Temp = msg.payload.PS_Temp;\n// from S31\nvar AC_Volt = msg.payload.AC_Volt;\nvar AC_Amp = msg.payload.AC_Amp;\nvar AC_Watt = msg.payload.AC_Watt;\n\n// as now payload is JSON must go back to string and from \" to ' to save payload in a db string\nvar payloads = JSON.stringify(msg.payload);   // JSON to string\npayloads=payloads.replace(/\"/g, \"\\'\");        // \" to ' or get SQL error\n\nsql = sqlI;\nsql += \"(\" + epoch;\n//sql += \",\\\"\" + nows + \"\\\"\";  // waste of space but makes it readable\nsql += \",\\\"\" + UTC_nows + \"\\\"\";  // waste of space but makes it readable\nsql += \",\\\"\"+msg.topic+ \"\\\"\";\nsql += \",\\\"\" + payloads + \"\\\"\";\n// add 7 columns V A W T V A W\nsql += \",\" + DC_Volt;\nsql += \",\" + DC_Amp;\nsql += \",\" + DC_Watt;\nsql += \",\" + PS_Temp;\n\nsql += \",\" + AC_Volt;\nsql += \",\" + AC_Amp;\nsql += \",\" + AC_Watt;\n\nsql += \" )\";\nmsg.topic = sql;\nmsg.payload = \"save to DB\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "0e042fd9f3e0a275"
            ]
        ]
    },
    {
        "id": "e92dbe995c686f8d",
        "type": "debug",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "SQL LOG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "0e042fd9f3e0a275",
        "type": "function",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "add",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "6531344a52539470",
                "e92dbe995c686f8d"
            ]
        ]
    },
    {
        "id": "51f8063726797eda",
        "type": "mqtt in",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d775da7a2f7633db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "ab30fb7cdd2a54df"
            ]
        ]
    },
    {
        "id": "1f18f4fcadb494af",
        "type": "inject",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "PICOW-S31/#",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "51f8063726797eda"
            ]
        ]
    },
    {
        "id": "93bfbe65c0d0509d",
        "type": "ui_text",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "group": "b59d23836a0aabb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "from MQTT site:  {{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "15ba51887437c0f9",
        "type": "ui_text",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "group": "b59d23836a0aabb4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "from MQTT site:  {{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc223d92419d4502",
        "type": "comment",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "SITE DIAGNOSTIC last MQTT msg only",
        "info": "",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "25540d9c034eb018",
        "type": "mqtt in",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d775da7a2f7633db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "93bfbe65c0d0509d"
            ]
        ]
    },
    {
        "id": "8fe8060b8e910b1b",
        "type": "inject",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "PICOW-S31/Site1/#",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "25540d9c034eb018"
            ]
        ]
    },
    {
        "id": "b330d7bd61e7963d",
        "type": "mqtt in",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d775da7a2f7633db",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "15ba51887437c0f9"
            ]
        ]
    },
    {
        "id": "d82dc5371fbc2af3",
        "type": "inject",
        "z": "2d794c71782a311e",
        "g": "60bb2fe886eeb41c",
        "name": "",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "PICOW-S31/Site2/#",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "b330d7bd61e7963d"
            ]
        ]
    },
    {
        "id": "d4463c84c26b9467",
        "type": "comment",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "REMOTE project database",
        "info": "",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "25918f306a60a810",
        "type": "inject",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "create table \"remote_projectlist\"   (id, p_name, p_topic, p_rem ) and even database file",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE  IF NOT EXISTS \"remote_projectlist\" ( \"id\" INTEGER, \"p_name\" TEXT, \"p_topic\" TEXT,\"p_rem\" TEXT , PRIMARY KEY(\"id\" AUTOINCREMENT)  );",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "69f3df9a7757d1c1"
            ]
        ]
    },
    {
        "id": "2ca36f6b0df2c8b9",
        "type": "inject",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "delete table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE \"remote_projectlist\";",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "69f3df9a7757d1c1"
            ]
        ]
    },
    {
        "id": "24e4e31b9845b9b7",
        "type": "inject",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "empty table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM \"remote_projectlist\";",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "69f3df9a7757d1c1"
            ]
        ]
    },
    {
        "id": "b0a8976102584f31",
        "type": "comment",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "optional / manual database operation / create file & table remote_projectlist / run at boot",
        "info": "",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "c253224efaba65be",
        "type": "comment",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "optional / manual database operation / delete table remote_projectlist",
        "info": "",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "0e42a9c17b444b0a",
        "type": "comment",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "optional / manual database operation / empty table remote_projectlist",
        "info": "",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "152a0c747c3fd244",
        "type": "sqlite",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "mydb": "5855394b5a9476ac",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1260,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fd49265849bb65dc",
        "type": "debug",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "SQL LOG",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "69f3df9a7757d1c1",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "add",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 360,
        "wires": [
            [
                "152a0c747c3fd244",
                "fd49265849bb65dc"
            ]
        ]
    },
    {
        "id": "ef4d1e71b6ae1c32",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "add project to DB by CODE",
        "func": "const sqlI = \"INSERT INTO remote_projectlist ( p_name, p_topic, p_rem ) VALUES \";\nvar sql = \"\";\n\nsql = sqlI;\nsql += \"(\";\n\n//sql += \"\\\"Project 1\\\"\";\n//sql += \", \\\"PICOW-S31/Site1\\\"\";\n//sql += \", \\\"is a PICO_W and a S31 and a RPI mosquitto broker and python BRIDGE \\\"\";\n\n//sql += \"\\\"Project 2\\\"\";\n//sql += \", \\\"PICOW-S31/Site2\\\"\";\n//sql += \", \\\"is a PICO_W to REMOTE broker \\\"\";\n\nsql += \" )\";\n\nmsg.topic = sql;\nmsg.payload = \"save to DB\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "69f3df9a7757d1c1"
            ]
        ]
    },
    {
        "id": "fe771ca4c93e198c",
        "type": "inject",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "\" \"",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 115,
        "y": 400,
        "wires": [
            [
                "ef4d1e71b6ae1c32"
            ]
        ],
        "l": false
    },
    {
        "id": "bd2a8e57f2c01351",
        "type": "inject",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "run at boot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "808b8ccdd9fd286c"
            ]
        ]
    },
    {
        "id": "808b8ccdd9fd286c",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "list projects",
        "func": "\nmsg.topic = \"SELECT * from remote_projectlist;\";\nmsg.payload = \"get list from DB\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 500,
        "wires": [
            [
                "960f317edf4ae1bc"
            ]
        ]
    },
    {
        "id": "960f317edf4ae1bc",
        "type": "sqlite",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "mydb": "5855394b5a9476ac",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "233594d06fbddcbf"
            ]
        ]
    },
    {
        "id": "233594d06fbddcbf",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "UI table",
        "func": "\nif (msg.payload.length > 0) {\n    var data = \"[\";\n\n    for (var i = 0; i < msg.payload.length; i++) {  // take the dbrecord appart\n\n        var p_id = msg.payload[i].id;\n        var p_name = msg.payload[i].p_name;\n        var p_topic = msg.payload[i].p_topic;\n        var p_rem = msg.payload[i].p_rem;\n\n\n        data += \"{ \";\n        data += \"\\\"id\\\":\\\"\" + p_id + \"\\\"\";\n        data += \", \\\"name\\\":\\\"\" + p_name + \"\\\"\";\n        data += \", \\\"topic\\\":\\\"\" + p_topic + \"\\\"\";\n        data += \", \\\"remark\\\":\\\"\" + p_rem + \"\\\"\";\n        data += \" }\";\n        if (i < (msg.payload.length - 1)) {\n            data += \",\";\n        } else {\n            data += \"]\";\n            flow.set(\"maxrecs\", p_id); // remember max record for pointer\n        }\n    }\n\n    var jsondata = JSON.parse(data);\n\n    msg.payload = jsondata;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (flow.get(\"maxrecs\") === undefined) {\n    flow.set(\"maxrecs\", 0)\n}",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 500,
        "wires": [
            [
                "4d1308073579ae20"
            ]
        ]
    },
    {
        "id": "4d1308073579ae20",
        "type": "ui_template",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "group": "08df03d71c01ebb8",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:100%; background-color:#202020\">\n    <tr style=\"background-color:#405010; border:5px;\">\n        <th>id</th>\n        <th>Name</th>\n        <th>Topic</th>\n        <th>Remark</th>\n    </tr>\n\n    <tr ng-repeat=\"x in msg.payload\"  style=\"background-color:#005010; border:5px;\">\n        <td>{{msg.payload[$index].id}}</td>\n        <td>{{msg.payload[$index].name}}</td>\n        <td>{{msg.payload[$index].topic}}</td>\n        <td>{{msg.payload[$index].remark}}</td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1280,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "66d5932b2621954f",
        "type": "ui_text_input",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "label": "name",
        "tooltip": "select /click line, change and press [ENTER]",
        "group": "08df03d71c01ebb8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "name",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 1270,
        "y": 680,
        "wires": [
            [
                "2ef2687abe88a037"
            ]
        ]
    },
    {
        "id": "0a85599837fb0ecc",
        "type": "ui_text_input",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "label": "topic",
        "tooltip": "select /click line, change and press [ENTER]",
        "group": "08df03d71c01ebb8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "2ef2687abe88a037"
            ]
        ]
    },
    {
        "id": "7e594510dc4b4249",
        "type": "ui_text_input",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "label": "remark",
        "tooltip": "select /click line, change and press [ENTER]",
        "group": "08df03d71c01ebb8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "remark",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 1270,
        "y": 760,
        "wires": [
            [
                "2ef2687abe88a037"
            ]
        ]
    },
    {
        "id": "e86f6b11ba58351b",
        "type": "ui_button",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "group": "08df03d71c01ebb8",
        "order": 8,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "up",
        "tooltip": "select next record",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "aad57c95bf78b93c"
            ]
        ]
    },
    {
        "id": "b7a664b92fae13b4",
        "type": "ui_button",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "group": "08df03d71c01ebb8",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "down",
        "tooltip": "select prev. record",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "aad57c95bf78b93c"
            ]
        ]
    },
    {
        "id": "aad57c95bf78b93c",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "select record",
        "func": "var getrecs = context.get('getrecs') || 0;\nvar maxrecs = flow.get(\"maxrecs\") || 0;\n\nif (msg.payload == 'up') {\n    getrecs += 1;\n    if (getrecs > maxrecs) {\n        getrecs -= 1;\n        //node.warn(\"limit getrecs\");\n    }\n}\nif (msg.payload == 'down') {\n    getrecs -= 1;\n    if ( getrecs < 0 ) {\n        getrecs = 0;\n    }\n}\ncontext.set('getrecs', getrecs); // save back to node memory\n\nmsg.topic = \"SELECT * FROM remote_projectlist WHERE id = \" + getrecs + \" ;\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (context.get(\"getrecs\") === undefined) {\n    context.set(\"getrecs\", 0)\n}",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "22e5ef15a8b217b4"
            ]
        ]
    },
    {
        "id": "22e5ef15a8b217b4",
        "type": "sqlite",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "mydb": "5855394b5a9476ac",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 740,
        "y": 600,
        "wires": [
            [
                "cd8b69cf0a7bea6e",
                "e8929107bb730b6f",
                "b64270947645e198",
                "afc41bd8484d4119",
                "28d8b1b1b10c508d"
            ]
        ]
    },
    {
        "id": "cd8b69cf0a7bea6e",
        "type": "debug",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "one rec or EMPTY",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 600,
        "wires": []
    },
    {
        "id": "e8929107bb730b6f",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "name",
        "func": "\nif (msg.payload.length > 0) {\n    \n    var p_id = msg.payload[0].id;\n    var p_name = msg.payload[0].p_name;\n    var p_topic = msg.payload[0].p_topic;\n    var p_rem = msg.payload[0].p_rem;\n\n\n    msg.payload = p_name;\n} else {\n    msg.payload = \"! do not edit !\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "66d5932b2621954f"
            ]
        ]
    },
    {
        "id": "b64270947645e198",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "topic",
        "func": "\nif (msg.payload.length > 0) {\n    \n    var p_id = msg.payload[0].id;\n    var p_name = msg.payload[0].p_name;\n    var p_topic = msg.payload[0].p_topic;\n    var p_rem = msg.payload[0].p_rem;\n\n\n    msg.payload = p_topic;\n} else {\n    msg.payload = \"! do not edit !\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "0a85599837fb0ecc"
            ]
        ]
    },
    {
        "id": "afc41bd8484d4119",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "remark",
        "func": "\nif (msg.payload.length > 0) {\n    \n    var p_id = msg.payload[0].id;\n    var p_name = msg.payload[0].p_name;\n    var p_topic = msg.payload[0].p_topic;\n    var p_rem = msg.payload[0].p_rem;\n\n\n    msg.payload = p_rem;\n} else {\n    msg.payload = \"! do not edit !\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 760,
        "wires": [
            [
                "7e594510dc4b4249"
            ]
        ]
    },
    {
        "id": "28d8b1b1b10c508d",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "id",
        "func": "\nif (msg.payload.length > 0) {\n    \n    var p_id = msg.payload[0].id;\n    var p_name = msg.payload[0].p_name;\n    var p_topic = msg.payload[0].p_topic;\n    var p_rem = msg.payload[0].p_rem;\n\n\n    msg.payload = p_id;\n}\nmsg.topic = \"id\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 640,
        "wires": [
            [
                "c56015683b4293fb",
                "2ef2687abe88a037"
            ]
        ]
    },
    {
        "id": "c56015683b4293fb",
        "type": "ui_text",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "group": "08df03d71c01ebb8",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "id",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1270,
        "y": 640,
        "wires": []
    },
    {
        "id": "311ad4878eb6b080",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "EDIT",
        "func": "var getid = context.get('getid') || 0;\nvar rEDIT = false;\nvar sql = \"\";\nvar nu_name  = \"\";\nvar nu_topic = \"\";\nvar nu_remark= \"\";\n\n//node.warn(msg.topic);\n//node.warn(msg.payload)\n//node.warn(getid);\n\nif ( msg.topic === \"id\" )\n{\n    if (msg.payload > 0 ) {\n        getid = msg.payload;\n    }\n    else {\n        getid = 0;\n    }\n    context.set('getid', getid); // save back to node memory what id to EDIT\n    //node.warn(getid);\n\n}\nelse\n{\n    // EDIT changes\n    if (getid > 0) {\n        sql = \"\"\n        rEDIT = false;\n\n        if (msg.topic === \"name\") {\n            nu_name = msg.payload;\n            rEDIT = true;\n            sql = \"UPDATE remote_projectlist SET 'p_name' = \\\"\" + nu_name + \"\\\" WHERE id = \" + getid + \";\";\n        }\n\n        if (msg.topic === \"topic\") {\n            nu_topic = msg.payload;\n            rEDIT = true;\n            sql = \"UPDATE remote_projectlist SET 'p_topic' = \\\"\" + nu_topic + \"\\\" WHERE id = \" + getid + \";\";\n        }\n\n        if (msg.topic === \"remark\") {\n            nu_remark = msg.payload;\n            rEDIT = true;\n            sql = \"UPDATE remote_projectlist SET 'p_rem' = \\\"\" + nu_remark + \"\\\" WHERE id = \" + getid + \";\";\n        }\n\n        if (msg.topic === \"delete\") { // ______________ from DEL button\n            rEDIT = true;\n            sql = \"DELETE from remote_projectlist WHERE id = \" + getid + \";\";\n        }\n\n\n        if ( rEDIT ) {\n            msg.topic = sql;\n            msg.payload = getid;\n            return msg; // _____________________________ send SQL as TOPIC\n        }\n\n    }\n\n}\n\nif (msg.topic === \"add\") { // ______________ from ADD button\n    sql = \"INSERT INTO remote_projectlist(p_name, p_topic, p_rem) VALUES ( \\\"Project new\\\" , \\\"PICOW-S31/Sitenew\\\",  \\\" ? \\\" ) ;\";\n    msg.topic = sql;\n    msg.payload = \"new\";\n    return msg; // _____________________________ send SQL as TOPIC\n\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (context.get(\"getid\") === undefined) {\n    context.set(\"getid\", 0)\n}",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 960,
        "wires": [
            [
                "84ae2fbfb7cd892b",
                "c781a8916c33d5a9"
            ]
        ]
    },
    {
        "id": "84ae2fbfb7cd892b",
        "type": "debug",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "EDIT OUT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 920,
        "wires": []
    },
    {
        "id": "2ef2687abe88a037",
        "type": "function",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "do changes",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "6fab86d23c32fd06",
                "311ad4878eb6b080"
            ]
        ]
    },
    {
        "id": "6fab86d23c32fd06",
        "type": "debug",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "EDIT IN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 840,
        "wires": []
    },
    {
        "id": "c781a8916c33d5a9",
        "type": "sqlite",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "mydb": "5855394b5a9476ac",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 720,
        "y": 960,
        "wires": [
            [
                "808b8ccdd9fd286c"
            ]
        ]
    },
    {
        "id": "12c6a79b20af20be",
        "type": "comment",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "edit / change db AND trigger reread LIST",
        "info": "",
        "x": 1090,
        "y": 960,
        "wires": []
    },
    {
        "id": "3b97301439776bdc",
        "type": "ui_button",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "group": "08df03d71c01ebb8",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "del",
        "tooltip": "delete current record",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "delete",
        "payloadType": "str",
        "topic": "delete",
        "topicType": "str",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "2ef2687abe88a037"
            ]
        ]
    },
    {
        "id": "ff1887b99fe94d2a",
        "type": "ui_button",
        "z": "4923970536323155",
        "g": "9a24826778a08d02",
        "name": "",
        "group": "08df03d71c01ebb8",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "add",
        "tooltip": "make a new default project",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "add",
        "payloadType": "str",
        "topic": "add",
        "topicType": "str",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "2ef2687abe88a037"
            ]
        ]
    },
    {
        "id": "416c7ccc95947de5",
        "type": "inject",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "run at boot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "b1428fe947d3aded"
            ]
        ]
    },
    {
        "id": "b1428fe947d3aded",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "list projects",
        "func": "\nmsg.topic = \"SELECT * from remote_projectlist;\";\nmsg.payload = \"get list from DB\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "6c48d4f071a6bd03"
            ]
        ]
    },
    {
        "id": "6c48d4f071a6bd03",
        "type": "sqlite",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "mydb": "5855394b5a9476ac",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "28b9ad10afe31aab",
                "1f7dd306269d5f19"
            ]
        ]
    },
    {
        "id": "28b9ad10afe31aab",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "SQL out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "1f7dd306269d5f19",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "projects TOPIC array",
        "func": "// output goes to a UI DROPDOWN selctor:\n\n// The Options may be configured by inputting msg.options containing an array.\n// If just text then the value will be the same as the label, \n// otherwise you can specify both by using an object of \"label\": \"value\" pairs:\n// [\"Choice 1\", \"Choice 2\", { \"Choice 3\": \"3\" }]\n\nif (msg.payload.length > 0) {\n    var data = \"[\";\n\n    for (var i = 0; i < msg.payload.length; i++) {  // take the dbrecord appart\n\n        //var p_id = msg.payload[i].id;\n        var p_name = msg.payload[i].p_name;\n        var p_topic = msg.payload[i].p_topic;\n        //var p_rem = msg.payload[i].p_rem;\n\n\n        data += \"{ \";\n        //data += \"\\\"id\\\":\\\"\" + p_id + \"\\\"\";\n        //data += \" \\\"name\\\":\\\"\" + p_name + \"\\\"\";\n        //data += \" \\\"topic\\\":\\\"\" + p_topic + \"\\\"\";\n        //data += \", \\\"remark\\\":\\\"\" + p_rem + \"\\\"\";\n\n        data += \"\\\"\" + p_name + \", \"+p_topic+\"\\\":\\\"\" + p_topic + \"\\\"\";\n\n        data += \" }\";\n        if (i < (msg.payload.length - 1)) {\n            data += \",\"\n        } else {\n            data += \"]\"\n        }\n    }\n\n    var jsondata = JSON.parse(data);\n\n    msg.options = jsondata;\n    msg.topic=\"valid topics\";\n    msg.payload = \"\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "18c93b3a6eec1cda",
                "453362c4195b9d73"
            ]
        ]
    },
    {
        "id": "18c93b3a6eec1cda",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "OPTIONS out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "453362c4195b9d73",
        "type": "ui_dropdown",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "",
        "label": "Site Select",
        "tooltip": "",
        "place": "\"PICOW-S31/Site1\"",
        "group": "dae7ede5651ba91f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": [
            [
                "7af1b9d331e6ef9f"
            ]
        ]
    },
    {
        "id": "80393f1fa3795c08",
        "type": "sqlite",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "mydb": "bc30993a608ada52",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 620,
        "y": 980,
        "wires": [
            [
                "cb7265a6dc1ae3e3",
                "c9b704889489d3f7"
            ]
        ]
    },
    {
        "id": "0ad4aeaecd70e882",
        "type": "ui_template",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "group": "1d73b486082014dd",
        "name": "Hist LIST",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>Time UTC</th>\n    <th>Topic</th>\n    <th>Payload</th>\n  </tr>\n  \n  <tr ng-repeat=\"x in msg.payload \">\n    <td>{{msg.payload[$index].timedates}}</td>\n    <td>{{msg.payload[$index].topic}}</td>\n    <td>{{msg.payload[$index].payloads}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 990,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac44fef7e6afae3",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "",
        "group": "1d73b486082014dd",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "+ h",
        "tooltip": "next hour",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "a59c90dc6d499201"
            ]
        ]
    },
    {
        "id": "07a5b34468aa6dd2",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "",
        "group": "1d73b486082014dd",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "- h",
        "tooltip": "one hour back",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "a59c90dc6d499201"
            ]
        ]
    },
    {
        "id": "a59c90dc6d499201",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "datarange LIST",
        "func": "var now = new Date();\nvar epoch = now.getTime(); // in millis\nvar hmillis = 3600000; // one hour \nvar getrecs = context.get('getrecs')||epoch;\nif (msg.payload == 'up') getrecs += hmillis;\nif (msg.payload == 'down') getrecs -= hmillis;\nif (msg.payload == 'init') getrecs = epoch;\nif ( getrecs < 0 ) getrecs = 0;\nif ( getrecs > epoch ) getrecs = epoch; // limit to now\ncontext.set('getrecs',getrecs); // save back to global\n\nvar hend = getrecs;\nvar hstart = hend - hmillis; // one hour back from now\n\n//var getSite = flow.get('getSite');\n\nmsg.topic = \"SELECT * FROM remote_mqtt_in WHERE timedate BETWEEN \"+hstart+\" AND \"+hend+\" ;\"\n\nconst hstarts = (new Date(hstart)).toUTCString().slice(5, 25).replace(/-/g, \"/\").replace(\"T\", \" \");\nconst hends = (new Date(hend)).toUTCString().slice(5, 25).replace(/-/g, \"/\").replace(\"T\", \" \");\n\n\nmsg.payload = \"from \"+hstarts+\" to \"+hends+\" UTC\"; // for debug only\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "var now = new Date();\nvar epoch = now.getTime(); // in millis\n\nvar getrecs = context.get('getrecs') || epoch;\n\ncontext.set('getrecs', getrecs); // save back to global\n",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 980,
        "wires": [
            [
                "968700c4036f0b76",
                "80393f1fa3795c08",
                "7bcb96c2d68e52bb"
            ]
        ]
    },
    {
        "id": "968700c4036f0b76",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "SQL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 900,
        "wires": []
    },
    {
        "id": "ee2c98e97de6a228",
        "type": "ui_chart",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "DC_Volt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "6b9e2dbeb60113c1",
        "type": "ui_chart",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "DC_Amp",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "d391dbfbc5e5081b",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "format data Amp",
        "func": "msg.topic = \"Amp\"\n\n\n//  \n// Create a data variable   \n//  \nvar series = [\"Amp\"];  \nvar labels = [\"Data\"];  \nvar data = \"[[\";  \n\nif (msg.payload.length > 0) {\n  for (var i = 0; i < msg.payload.length; i++) {\n\n    data += '{ \"x\":' + msg.payload[i].timedate + ', \"y\":' + msg.payload[i].DC_Amp + '}';\n    if (i < (msg.payload.length - 1)) {\n      data += \",\"\n    } else {\n      data += \"]]\"\n    }\n  }\n\n  var jsondata = JSON.parse(data);\n\n  msg.payload = [{ \"series\": series, \"data\": jsondata, \"labels\": labels }];  \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 700,
        "wires": [
            [
                "6b9e2dbeb60113c1"
            ]
        ]
    },
    {
        "id": "9550106d0192cf7a",
        "type": "ui_chart",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 19,
        "width": 0,
        "height": 0,
        "label": "DC_Watt",
        "chartType": "line",
        "legend": "false",
        "xformat": "YY-MM-DD HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "eeeecfd247716668",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "format data Watt",
        "func": "msg.topic = \"Watt\"\n\n//  \n// Create a data variable   \n//  \nvar series = [\"Watt\"];  \nvar labels = [\"Data\"];  \nvar data = \"[[\";  \n\nif (msg.payload.length > 0) {\n  for (var i = 0; i < msg.payload.length; i++) {\n\n    data += '{ \"x\":' + msg.payload[i].timedate + ', \"y\":' + msg.payload[i].DC_Watt + '}';\n    if (i < (msg.payload.length - 1)) {\n      data += \",\"\n    } else {\n      data += \"]]\"\n    }\n  }\n\n  var jsondata = JSON.parse(data);\n\n  msg.payload = [{ \"series\": series, \"data\": jsondata, \"labels\": labels }];  \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 740,
        "wires": [
            [
                "9550106d0192cf7a"
            ]
        ]
    },
    {
        "id": "cb7265a6dc1ae3e3",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "records",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 980,
        "wires": []
    },
    {
        "id": "ec373eafc9b7916c",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "LIST",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a7fcd9130032bbb8",
        "type": "comment",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "ui REMOTE HIST time is UTC",
        "info": "",
        "x": 210,
        "y": 340,
        "wires": []
    },
    {
        "id": "0646b5bc1353ffed",
        "type": "comment",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "ui HIST_LIST function: one hour from DB",
        "info": "",
        "x": 210,
        "y": 900,
        "wires": []
    },
    {
        "id": "c9b704889489d3f7",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "format HTML table",
        "func": "\nif (msg.payload.length > 0) {\n  var data = \"[\";\n\n  for (var i = 0; i < msg.payload.length; i++) {  // take the dbrecord appart\n\n    var timedates = msg.payload[i].timedates;\n    var topic = msg.payload[i].topic;\n    var payloads = msg.payload[i].payloads;\n\n\n    data += \"{ \";\n    data += \"\\\"timedates\\\":\\\"\" + timedates + \"\\\"\";\n    data += \", \\\"topic\\\":\\\"\" + topic + \"\\\"\";\n    data += \", \\\"payloads\\\":\\\"\" + payloads + \"\\\"\";\n    data += \" }\";\n    if (i < (msg.payload.length - 1)) {\n      data += \",\"\n    } else {\n      data += \"]\"\n    }\n  }\n\n  var jsondata = JSON.parse(data);\n\n  msg.payload = jsondata;  \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "0ad4aeaecd70e882",
                "ec373eafc9b7916c"
            ]
        ]
    },
    {
        "id": "622b4afc4e36cafd",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "format data Volt",
        "func": "msg.topic = \"DC_Volt\"\n// Create a data variable   \n//  \nvar series = [\"DC_Volt\"];  \nvar labels = [\"Data\"];  \nvar data = \"[[\";  \n\nif (msg.payload.length > 0) {\n  for (var i = 0; i < msg.payload.length; i++) {\n    data += '{ \"x\":' + msg.payload[i].timedate + ', \"y\":' + msg.payload[i].DC_Volt + '}';\n    if (i < (msg.payload.length - 1)) {\n      data += \",\"\n    } else {\n      data += \"]]\"\n    }\n  }\n\n  var jsondata = JSON.parse(data);\n\n  msg.payload = [{ \"series\": series, \"data\": jsondata, \"labels\": labels }];  \n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 660,
        "wires": [
            [
                "ee2c98e97de6a228"
            ]
        ]
    },
    {
        "id": "617c07a0e5aa220d",
        "type": "sqlite",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "mydb": "bc30993a608ada52",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "aa11d8ec68e18532",
                "622b4afc4e36cafd",
                "d391dbfbc5e5081b",
                "eeeecfd247716668",
                "55d4814dc732f34c"
            ]
        ]
    },
    {
        "id": "68efa9aad30cdce6",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "+ h",
        "tooltip": "next hour",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "fd4101bef1a5f8e2",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "- h",
        "tooltip": "one hour back",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "6809646912729a3d",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "datarange TREND",
        "func": "\nvar now = new Date();\nvar epoch = now.getTime(); // in millis\nvar hmillis = 3600000; // one hour\nvar getrecs = context.get('getrecs') || epoch;\nvar hend = getrecs;\nvar hstart = hend - hmillis; // one hour back from now\n\n\nif (msg.payload == 'up') \n{\n    getrecs += hmillis;\n    hend = getrecs;\n    hstart = hend - hmillis; // one hour back\n}\nif (msg.payload == 'down')\n{\n    getrecs -= hmillis;\n    hend = getrecs;\n    hstart = hend - hmillis; // one hour back\n}\nif (msg.payload == 'upd') {\n    getrecs += hmillis*24;\n    hend = getrecs;\n    hstart = hend - hmillis*24; // one day back\n}\n\nif (msg.payload == 'downd') {\n    getrecs -= hmillis*24;\n    hend = getrecs;\n    hstart = hend - hmillis*24; // one day back\n}\n\nif ((msg.payload == 'init') || (msg.payload == 'lasthour') || (msg.payload == 'refresh') ) // see last hour\n{\n    getrecs = epoch;\n    hend = getrecs;\n    hstart = hend - hmillis; // one hour back\n}\n// day select\nif (msg.topic == 'day' ) {\n    hstart = msg.payload;\n    hend = hstart + hmillis*24; // one day\n    getrecs = hend; // remember in case next press is +-h +-d\n}\n\nif (getrecs < 0) getrecs = 0;\nif (getrecs > epoch) getrecs = epoch; // limit to now\ncontext.set('getrecs', getrecs); // save back to global\n\nif ( false ) {\n    node.warn(msg.topic);\n    node.warn(msg.payload);\n    node.warn(hstart)\n    node.warn(getrecs)\n}\n\nvar getSite = flow.get('getSite');\n\nmsg.topic = \"SELECT * FROM remote_mqtt_in WHERE topic = \\\"\"+getSite+\"\\\" AND timedate BETWEEN \" + hstart + \" AND \" + hend + \" ;\"\n\nconst hstarts = (new Date(hstart)).toUTCString().slice(5, 25).replace(/-/g, \"/\").replace(\"T\", \" \");\nconst hends = (new Date(hend)).toUTCString().slice(5, 25).replace(/-/g, \"/\").replace(\"T\", \" \");\nmsg.payload = \"from \" + hstarts + \" to \" + hends + \" UTC\"; // for debug only\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nif (context.get(\"getrecs\") === undefined) {\n    context.set(\"getrecs\", 0)\n}",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 500,
        "wires": [
            [
                "add99950135f44f1",
                "617c07a0e5aa220d"
            ]
        ]
    },
    {
        "id": "add99950135f44f1",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "SQL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 440,
        "wires": []
    },
    {
        "id": "aa11d8ec68e18532",
        "type": "debug",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "records",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 520,
        "wires": []
    },
    {
        "id": "6a290a41c64fe212",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "+ d",
        "tooltip": "next day",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "upd",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "de1a52fa88fde7d6",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "- d",
        "tooltip": "one day back",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "downd",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "69e043b5a8d3c3de",
        "type": "comment",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "ui HIST_TREND function hour or day from DB",
        "info": "",
        "x": 250,
        "y": 240,
        "wires": []
    },
    {
        "id": "55d4814dc732f34c",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "time range",
        "func": "var lastr = msg.payload.length -1;\n\n// try to compare that to LOCAL time\n\nfunction formatDate(date) { // somehow it changes time to LOCAL TIME ??\n    return (\n        [\n            date.getFullYear(),\n            (date.getMonth() + 1).toString().padStart(2, '0'),\n            (date.getDate()).toString().padStart(2, '0'),\n        ].join('-') +\n        ' ' +\n        [\n            (date.getHours()).toString().padStart(2, '0'),\n            (date.getMinutes()).toString().padStart(2, '0'),\n            (date.getSeconds()).toString().padStart(2, '0'),\n        ].join(':')\n    );\n}\n\nvar now = new Date();\nvar UTC_nows = now.toISOString().slice(0, 19).replace(/-/g, \"-\").replace(\"T\", \" \");\nvar LOC_nows = formatDate(now);\n\nif ( msg.payload.length > 0 ) {\n    // from inject timestamp get a older UTC number\n    var lastt = msg.payload[lastr].timedate;\n    var firstt = msg.payload[0].timedate;\n\n    var first = new Date(firstt);\n    var LOC_firsts = formatDate(first);\n    var last = new Date(lastt);\n    var LOC_lasts = formatDate(last);\n\n    var lastts = msg.payload[lastr].timedates;\n    var firstts = msg.payload[0].timedates;\n\n    msg.payload = \"UTCdb from \" + firstts + \" until \" + lastts + \"</br>LOCAL from \" + LOC_firsts + \" until \" + LOC_lasts + \"<br>  here it's now \" + LOC_nows;\n}\nelse{\n    msg.payload = \"NO DATA\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 620,
        "wires": [
            [
                "b70f0502b39eaa88"
            ]
        ]
    },
    {
        "id": "b70f0502b39eaa88",
        "type": "ui_text",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "group": "e9485037ae7c93de",
        "order": 13,
        "width": 11,
        "height": 1,
        "name": "",
        "label": "time range",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "23c5524650b790a0",
        "type": "ui_date_picker",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "label": "day",
        "group": "e9485037ae7c93de",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "day",
        "topicType": "str",
        "className": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "9cc68cc0e30a4865",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "",
        "group": "e9485037ae7c93de",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "h-ome",
        "tooltip": "last hour",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lasthour",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "7bcb96c2d68e52bb",
        "type": "ui_text",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "group": "1d73b486082014dd",
        "order": 3,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "time range",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1000,
        "y": 940,
        "wires": []
    },
    {
        "id": "35e1eef7c82e141d",
        "type": "inject",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "INIT SQL",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "start",
        "payload": "init",
        "payloadType": "str",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "a59c90dc6d499201"
            ]
        ]
    },
    {
        "id": "06a103525eb3df6c",
        "type": "inject",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "INIT SQL",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "start",
        "payload": "init",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "c2ea39f337564997",
        "type": "comment",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "UI SELECTOR SITE / TOPIC table: remote_projectlist",
        "info": "",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "b7a5d8e9d7ca1eb2",
        "type": "comment",
        "z": "00dab516a6b3e62a",
        "g": "605eaa74d4639a25",
        "name": "table: remote_mqtt_in   (id,timedate,timedates,topic,payloads, DC_Volt,DC_Amp,DC_Watt,PS_Temp,AC_Volt,AC_Amp,AC_Watt ) ",
        "info": "",
        "x": 500,
        "y": 860,
        "wires": []
    },
    {
        "id": "7af1b9d331e6ef9f",
        "type": "function",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "set flow variable: getSite",
        "func": "var getSite = flow.get('getSite');\nvar oldSite = getSite;\ngetSite = msg.payload;\nflow.set('getSite', getSite); // save back to global\nvar newSite = getSite;\nmsg.topic = \"select\";\nmsg.payload=\"refresh\"; // \"old: \"+oldSite+\",\\nnew: \"+newSite;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar getSite = flow.get('getSite') || \"PICOW-S31/Site1\";\nflow.set('getSite', getSite); // save back to global\n",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "6809646912729a3d"
            ]
        ]
    },
    {
        "id": "84a516fbef335e9c",
        "type": "comment",
        "z": "00dab516a6b3e62a",
        "g": "844c3338d66d2f61",
        "name": "refresh after select",
        "info": "",
        "x": 710,
        "y": 400,
        "wires": []
    },
    {
        "id": "42b5d1f8f154d597",
        "type": "ui_button",
        "z": "00dab516a6b3e62a",
        "g": "9b358a16cd81ca40",
        "name": "",
        "group": "dae7ede5651ba91f",
        "order": 14,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "refresh",
        "tooltip": "only needed if Project list changed",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "b1428fe947d3aded"
            ]
        ]
    }
]